In [ ]:
# import pandas as pd

# def getData(the_code):
#     def clearSpace(value):
#         return value.strip()

#     price_data = pd.read_csv('./taiwan-index-price-data.txt', encoding='cp950')
#     price_data['證券代碼'] = price_data['證券代碼'].apply(clearSpace)
#     price_data['簡稱'] = price_data['簡稱'].apply(clearSpace)
#     target_data = price_data[price_data['證券代碼'] == the_code]
#     target_data['ret'] = target_data['收盤價(元)'].diff(1)/target_data['收盤價(元)'].shift(1)
#     target_data = target_data.dropna()
#     target_data = target_data.reset_index(drop=True)
#     return target_data

In [5]:
import pandas as pd
price_data = pd.read_csv('./taiwan-index-price-data.txt', encoding='cp950')
price_data

,證券代碼,簡稱,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元)
0,M2600,航運業類指數,20000104,59.04,60.47,59.04,60.40,48998,789553
1,M2500,建材營造類指數,20000104,146.31,147.83,145.89,147.01,80948,663013
2,M2000,鋼鐵工業類指數,20000104,62.00,64.20,61.29,64.20,148838,2897076
3,M1900,造紙工業類指數,20000104,159.59,163.96,158.45,163.96,29928,490216
4,M1800,玻璃陶瓷類指數,20000104,40.81,41.46,40.71,41.06,10859,133555
...,...,...,...,...,...,...,...,...,...
26495,M2600,航運業類指數,20210518,143.56,150.02,140.69,149.98,1041310,52349049
26496,M2500,建材營造類指數,20210518,323.63,337.87,323.63,337.87,84512,1648731
26497,M2000,鋼鐵工業類指數,20210518,153.85,160.76,153.85,160.73,583380,19865004
26498,M1900,造紙工業類指數,20210518,362.34,388.72,360.59,388.49,114018,2674719
26499,M1800,玻璃陶瓷類指數,20210518,63.54,69.66,63.54,69.62,91755,2361738

In [6]:
price_data['收盤價(元)']

0         60.40
1        147.01
2         64.20
3        163.96
4         41.06
          ...
26495    149.98
26496    337.87
26497    160.73
26498    388.49
26499     69.62
Name: 收盤價(元), Length: 26500, dtype: float64

In [8]:
BTC_data['收盤價']

0       36880.5
1       40717.2
2       36720.5
3       42897.3
4       43541.3
         ...
3956        0.1
3957        0.1
3958        0.1
3959        0.1
3960        0.1
Name: 收盤價, Length: 3961, dtype: float64

In [9]:
def clearSpace(value):
        return value.strip()

In [ ]:
price_data['證券代碼'] = price_data['證券代碼'].apply(clearSpace)
price_data['證券代碼']

In [ ]:
price_data['簡稱'] = price_data['簡稱'].apply(clearSpace)
price_data['簡稱']

In [ ]:
the_code = 'M1800'

In [ ]:
target_data = price_data[price_data['證券代碼'] == the_code]
target_data

In [ ]:
target_data['ret'] = target_data['收盤價(元)'].diff(1)/target_data['收盤價(元)'].shift(1)
target_data['ret']

In [ ]:
target_data = target_data.dropna()
target_data

In [ ]:
target_data = target_data.reset_index(drop=True)
target_data