## 套件

In [1]:
import pandas as pd

# 讀取資料

In [2]:
price_data = pd.read_csv('./taiwan-index-price-data.txt', encoding='cp950')

In [3]:
price_data

,證券代碼,簡稱,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元)
0,M2600,航運業類指數,20000104,59.04,60.47,59.04,60.40,48998,789553
1,M2500,建材營造類指數,20000104,146.31,147.83,145.89,147.01,80948,663013
2,M2000,鋼鐵工業類指數,20000104,62.00,64.20,61.29,64.20,148838,2897076
3,M1900,造紙工業類指數,20000104,159.59,163.96,158.45,163.96,29928,490216
4,M1800,玻璃陶瓷類指數,20000104,40.81,41.46,40.71,41.06,10859,133555
...,...,...,...,...,...,...,...,...,...
26495,M2600,航運業類指數,20210518,143.56,150.02,140.69,149.98,1041310,52349049
26496,M2500,建材營造類指數,20210518,323.63,337.87,323.63,337.87,84512,1648731
26497,M2000,鋼鐵工業類指數,20210518,153.85,160.76,153.85,160.73,583380,19865004
26498,M1900,造紙工業類指數,20210518,362.34,388.72,360.59,388.49,114018,2674719
26499,M1800,玻璃陶瓷類指數,20210518,63.54,69.66,63.54,69.62,91755,2361738

# 資料基本欄位檢查

In [4]:
price_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26500 entries, 0 to 26499
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   證券代碼     26500 non-null  object
 1   簡稱       26500 non-null  object
 2   年月日      26500 non-null  int64
 3   開盤價(元)   26500 non-null  float64
 4   最高價(元)   26500 non-null  float64
 5   最低價(元)   26500 non-null  float64
 6   收盤價(元)   26500 non-null  float64
 7   成交量(千股)  26500 non-null  int64
 8   成交值(千元)  26500 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 1.8+ MB

In [5]:
print(price_data['證券代碼'].drop_duplicates())
print('-----------------------------')
print(price_data['簡稱'].drop_duplicates())

0    M2600
1    M2500
2    M2000
3    M1900
4    M1800
Name: 證券代碼, dtype: object
-----------------------------
0    航運業類指數
1    建材營造類指數
2    鋼鐵工業類指數
3    造紙工業類指數
4    玻璃陶瓷類指數
Name: 簡稱, dtype: object

# 查詢資料

In [6]:
price_data['年月日'] == 20000104

0         True
1         True
2         True
3         True
4         True
         ...
26495    False
26496    False
26497    False
26498    False
26499    False
Name: 年月日, Length: 26500, dtype: bool

##### 為什麼找不到想要的代碼

In [7]:
target_data = price_data[price_data['證券代碼'] == 'M1800']
target_data

Empty DataFrame
Columns: [證券代碼, 簡稱, 年月日, 開盤價(元), 最高價(元), 最低價(元), 收盤價(元), 成交量(千股), 成交值(千元)]
Index: []

In [8]:
price_data['證券代碼'].drop_duplicates().values

array(['M2600  ', 'M2500  ', 'M2000  ', 'M1900  ', 'M1800  '],
      dtype=object)

In [9]:
def clearSpace(value):
    return value.strip()

In [10]:
price_data['證券代碼']

0        M2600
1        M2500
2        M2000
3        M1900
4        M1800
          ...
26495    M2600
26496    M2500
26497    M2000
26498    M1900
26499    M1800
Name: 證券代碼, Length: 26500, dtype: object

In [11]:
price_data['證券代碼'] = price_data['證券代碼'].apply(clearSpace)
price_data['簡稱'] = price_data['簡稱'].apply(clearSpace)

In [12]:
price_data['證券代碼']

0        M2600
1        M2500
2        M2000
3        M1900
4        M1800
         ...
26495    M2600
26496    M2500
26497    M2000
26498    M1900
26499    M1800
Name: 證券代碼, Length: 26500, dtype: object

#### 再來找看看

In [13]:
target_data = price_data[price_data['證券代碼'] == 'M1800']
target_data

,證券代碼,簡稱,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元)
4,M1800,玻璃陶瓷類指數,20000104,40.81,41.46,40.71,41.06,10859,133555
9,M1800,玻璃陶瓷類指數,20000105,39.11,40.82,39.08,40.31,21112,176251
14,M1800,玻璃陶瓷類指數,20000106,40.34,41.31,40.29,41.31,15867,145543
19,M1800,玻璃陶瓷類指數,20000107,41.97,42.47,41.39,41.65,13179,136425
24,M1800,玻璃陶瓷類指數,20000110,42.40,42.44,41.28,41.40,9012,100129
...,...,...,...,...,...,...,...,...,...
26479,M1800,玻璃陶瓷類指數,20210512,95.59,97.12,85.24,85.27,120371,4097809
26484,M1800,玻璃陶瓷類指數,20210513,77.59,83.53,76.99,77.21,130447,3952180
26489,M1800,玻璃陶瓷類指數,20210514,78.92,80.72,70.09,70.31,111754,3000689
26494,M1800,玻璃陶瓷類指數,20210517,64.29,68.64,63.45,63.51,91627,2173363
26499,M1800,玻璃陶瓷類指數,20210518,63.54,69.66,63.54,69.62,91755,2361738

## index 跑掉了？

In [14]:
target_data = target_data.reset_index(drop=True)
target_data

,證券代碼,簡稱,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元)
0,M1800,玻璃陶瓷類指數,20000104,40.81,41.46,40.71,41.06,10859,133555
1,M1800,玻璃陶瓷類指數,20000105,39.11,40.82,39.08,40.31,21112,176251
2,M1800,玻璃陶瓷類指數,20000106,40.34,41.31,40.29,41.31,15867,145543
3,M1800,玻璃陶瓷類指數,20000107,41.97,42.47,41.39,41.65,13179,136425
4,M1800,玻璃陶瓷類指數,20000110,42.40,42.44,41.28,41.40,9012,100129
...,...,...,...,...,...,...,...,...,...
5295,M1800,玻璃陶瓷類指數,20210512,95.59,97.12,85.24,85.27,120371,4097809
5296,M1800,玻璃陶瓷類指數,20210513,77.59,83.53,76.99,77.21,130447,3952180
5297,M1800,玻璃陶瓷類指數,20210514,78.92,80.72,70.09,70.31,111754,3000689
5298,M1800,玻璃陶瓷類指數,20210517,64.29,68.64,63.45,63.51,91627,2173363
5299,M1800,玻璃陶瓷類指數,20210518,63.54,69.66,63.54,69.62,91755,2361738

# 新增報酬率欄位

In [15]:
target_data['收盤價(元)']

0       41.06
1       40.31
2       41.31
3       41.65
4       41.40
        ...
5295    85.27
5296    77.21
5297    70.31
5298    63.51
5299    69.62
Name: 收盤價(元), Length: 5300, dtype: float64

In [16]:
target_data['ret'] = target_data['收盤價(元)'].diff(1)/target_data['收盤價(元)'].shift(1)
target_data

,證券代碼,簡稱,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),ret
0,M1800,玻璃陶瓷類指數,20000104,40.81,41.46,40.71,41.06,10859,133555,NaN
1,M1800,玻璃陶瓷類指數,20000105,39.11,40.82,39.08,40.31,21112,176251,-0.018266
2,M1800,玻璃陶瓷類指數,20000106,40.34,41.31,40.29,41.31,15867,145543,0.024808
3,M1800,玻璃陶瓷類指數,20000107,41.97,42.47,41.39,41.65,13179,136425,0.008230
4,M1800,玻璃陶瓷類指數,20000110,42.40,42.44,41.28,41.40,9012,100129,-0.006002
...,...,...,...,...,...,...,...,...,...,...
5295,M1800,玻璃陶瓷類指數,20210512,95.59,97.12,85.24,85.27,120371,4097809,-0.097958
5296,M1800,玻璃陶瓷類指數,20210513,77.59,83.53,76.99,77.21,130447,3952180,-0.094523
5297,M1800,玻璃陶瓷類指數,20210514,78.92,80.72,70.09,70.31,111754,3000689,-0.089367
5298,M1800,玻璃陶瓷類指數,20210517,64.29,68.64,63.45,63.51,91627,2173363,-0.096715
5299,M1800,玻璃陶瓷類指數,20210518,63.54,69.66,63.54,69.62,91755,2361738,0.096205

In [17]:
target_data = target_data.dropna()

# 基本敘述性統計

In [18]:
target_data.describe()

,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),ret
count,5.299000e+03,5299.000000,5299.000000,5299.000000,5299.000000,5299.000000,5.299000e+03,5299.000000
mean,2.010180e+07,48.655107,49.250845,48.046282,48.610245,10663.802038,1.817114e+05,0.000308
std,6.174877e+04,17.051705,17.263559,16.822165,17.021391,13491.196584,3.216985e+05,0.020402
min,2.000010e+07,18.560000,19.780000,18.380000,18.540000,680.000000,8.791000e+03,-0.097958
25%,2.005041e+07,35.895000,36.290000,35.490000,35.890000,3240.000000,4.480750e+04,-0.009445
50%,2.010081e+07,43.260000,43.650000,42.800000,43.270000,6449.000000,8.999200e+04,0.000000
75%,2.015121e+07,61.300000,61.895000,60.565000,61.200000,13277.000000,2.055355e+05,0.009578
max,2.021052e+07,111.410000,113.140000,110.120000,111.210000,277985.000000,9.924393e+06,0.096539

## 偏態 與 峰態

In [19]:
from scipy import stats

In [20]:
## 偏態
skew = stats.skew(target_data['收盤價(元)'])
## 峰態 fisher=False 是 Eviews 作法
kurtosis = stats.kurtosis(target_data['收盤價(元)'], fisher=False)

print('skew      :  {}'.format(skew))
print('kurtosis  :  {}'.format(kurtosis))

skew      :  0.9030964544030892
kurtosis  :  3.235856875921036

# 相關係數表

In [21]:
target_data.corr()

,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),ret
年月日,1.000000,0.116404,0.116060,0.119907,0.118217,-0.107422,0.005934,0.003594
開盤價(元),0.116404,1.000000,0.999171,0.999234,0.998397,0.133556,0.315463,-0.015258
最高價(元),0.116060,0.999171,1.000000,0.998896,0.999197,0.151099,0.333477,0.008101
最低價(元),0.119907,0.999234,0.998896,1.000000,0.999291,0.126580,0.308168,0.007698
收盤價(元),0.118217,0.998397,0.999197,0.999291,1.000000,0.138526,0.320454,0.031515
成交量(千股),-0.107422,0.133556,0.151099,0.126580,0.138526,1.000000,0.908743,0.133938
成交值(千元),0.005934,0.315463,0.333477,0.308168,0.320454,0.908743,1.000000,0.112928
ret,0.003594,-0.015258,0.008101,0.007698,0.031515,0.133938,0.112928,1.000000